/* Gruvbox light colorscheme from: https://github.com/morhetz/gruvbox */

:root {
  --gruvbox-bg: #fbf1c7;
  --gruvbox-fg: #3c3836;

  /* Primary */
  --gruvbox-aqua: #689d6a;
  --gruvbox-blue: #458588;
  --gruvbox-gray: #7c6f64;
  --gruvbox-green: #98971a;
  --gruvbox-orange: #d65d0e;
  --gruvbox-purple: #b16286;
  --gruvbox-red: #cc241d;
  --gruvbox-yellow: #d79921;

  /* Secondary */
  --gruvbox-aqua-secondary: #427b58;
  --gruvbox-blue-secondary: #076678;
  --gruvbox-gray-secondary: #928374;
  --gruvbox-green-secondary: #79740e;
  --gruvbox-orange-secondary: #af3a03;
  --gruvbox-purple-secondary: #8f3f71;
  --gruvbox-red-secondary: #9d0006;
  --gruvbox-yellow-secondary: #b57614;

  /* Extra */
  --gruvbox-bg0: #fbf1c7;
  --gruvbox-bg1: #ebdbb2;
  --gruvbox-bg2: #d5c4a1;
  --gruvbox-bg3: #bdae93;
  --gruvbox-bg4: #a89984;
  --gruvbox-bg0-soft: #f2e5bc;
  --gruvbox-bg0-hard: #f9f5d7;

  --gruvbox-fg0: #282828;
  --gruvbox-fg1: #3c3836;
  --gruvbox-fg2: #504945;
  --gruvbox-fg3: #665c54;
  --gruvbox-fg4: #7c6f64;
}
