/* Gruvbox dark colorscheme from: https://github.com/morhetz/gruvbox */

:root {
  --gruvbox-bg: #282828;
  --gruvbox-fg: #ebdbb2;

  /* Primary */
  --gruvbox-aqua: #689d6a;
  --gruvbox-blue: #458588;
  --gruvbox-gray: #a89984;
  --gruvbox-green: #98971a;
  --gruvbox-orange: #d65d0e;
  --gruvbox-purple: #b16286;
  --gruvbox-red: #cc241d;
  --gruvbox-yellow: #d79921;

  /* Secondary */
  --gruvbox-aqua-secondary: #8ec07c;
  --gruvbox-blue-secondary: #83a598;
  --gruvbox-gray-secondary: #928374;
  --gruvbox-green-secondary: #b8bb26;
  --gruvbox-orange-secondary: #fe8019;
  --gruvbox-purple-secondary: #d3869b;
  --gruvbox-red-secondary: #fb4934;
  --gruvbox-yellow-secondary: #fabd2f;

  /* Extra */
  --gruvbox-bg0: #282828;
  --gruvbox-bg1: #3c3836;
  --gruvbox-bg2: #504945;
  --gruvbox-bg3: #665c64;
  --gruvbox-bg4: #7c6f64;
  --gruvbox-bg0-soft: #32302f;
  --gruvbox-bg0-hard: #1d2021;

  --gruvbox-fg0: #fbf1c7;
  --gruvbox-fg1: #ebdbb2;
  --gruvbox-fg2: #d5c4a1;
  --gruvbox-fg3: #bdae93;
  --gruvbox-fg4: #a89984;
}
