@import url(fonts.css);
@import url(colors/gruvbox-dark.css);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Goudy;
}

body {
  background-color: var(--gruvbox-bg);
  color: var(--gruvbox-fg);
}

.greeting-container {
  width: clamp(200px, 15vw, 50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

.greeting-container h1 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: clamp(1.5rem, 2vw, 5rem);
}

#color-bar {
  width: 100%;
  height: 2%;
  box-shadow: 0px 4px 6px black;
}

.profile-picture-container {
  width: auto;
  height: auto;
  border-radius: 12%;
  margin: 5%;
  padding: 1.5%;
  background-color: var(--gruvbox-purple);
  box-shadow: 0px 4px 6px black;
  transition: border-radius 0.3s ease, transform 0.3s ease;
}

.profile-picture-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.profile-picture-container:hover {
  border-radius: 0;
  transform: scale(1.1);
}
